* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  width: 366px;
  padding: 43px 43px 47px 41px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 30px;
  width: 140px;
}

.input {
  margin: 30px 0px 0px 0px;
  width: 278px;
  outline: none;
  border: none;
  border-bottom: 1px solid #d0cece;
  padding: 8px;
  font-size: 18px;
}
::placeholder {
  color: #e1e1e1;
}

.buttons_field {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  width: 278px;
  border-radius: 6px;
  padding: 16px 0px;
  font-size: 18px;
  background-color: #580ea2;
  color: #fff;
  border: none;
}
.button:hover {
  background-color: #3f007d;
}
.button:active {
  background-color: #271a58;
}

.additional {
  background-color: #fff;
  color: #000;
  border: 1px solid #d0cece;
}
.additional:hover {
  background-color: #f4f5f6;
}
.additional:active {
  background-color: #d9d9d9;
}
